/* Mobile Design */

$font-color1: #ce3636;
$font-color2: #9E0808;

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: $font-color1;
    display: grid;
    top: 0;
    right: 0;
    left: 0;
    height: 18.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'HelveticaNeue', sans-serif;

    #logo {
    width: 15rem;
    }

    #logo_link {
        margin-top: 1.25rem;
        position: absolute;
        left: 3.25rem;
    }

    #phonenumber {
        font-weight: 400;
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 2rem;
        position: absolute;
        left: 7rem;
        top: 14.5rem;
    }

    #hamburgermenu {

        #menu_checkbox {
            width: 3rem;
            height: 3rem;
            opacity: 0;
            position: absolute;
            left: 1.25rem;
            top: 14.5rem;
            z-index: 11;
        }

        #menu_checkbox:checked {
             top: 1rem;
             right: 1rem;
             opacity: 1;
             left: unset;
             
         }

        #menu_checkbox:checked ~ 
        #hamburger_container {
            top: 0.4rem;
            right: 1.5rem;
            left: unset;
            width: 3rem;
            height: 3rem;
            
            #line_1 {
                transform: 
                rotate(45deg)
                translateX(1.43rem);
            }
            
            #line_2 {
                visibility: hidden;
            }
            
            #line_3 {
                transform: 
                rotate(-45deg)
                translateX(1.43rem);
            }
            
            .hamburger_line {
                width: 2.6rem;
                height: 0.5rem;
                border-radius: 0%;
            }
        }

        #menu_checkbox:checked ~ #header_menu {
            opacity: 1;
            transition: ease-in-out;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;

            a {
                pointer-events: auto;
                opacity: 1;
            }
        }
        
        #hamburger_container {
            display: grid;
            width: 3rem;
            height: 3rem;
            z-index: 10;
            position: absolute;
            left: 1.5rem;
            top: 14.8rem;

            .hamburger_line {
                width: 2.5rem;
                height: 0.4rem;
                border-radius: 25%;
                background-color: white;
                z-index: 10;
            }
        }

        #header_menu {
            position: fixed;
            display: grid;
            background-color: $font-color1;
            width: 100vw;
            left: -22.5rem;
            bottom: 0;
            top: 0;
            z-index: 1;
            align-items: end;
            transition: all 0.5s ease-in-out;
            opacity: 0;
            

            div {
                border-bottom: 0.125rem white solid;
                padding-left: 2rem;
                padding-bottom: 2rem;
            }

            a {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 2.3rem;
                color: white;
                text-decoration: none;
                font-weight: 700;
                pointer-events: none;
                cursor: default;
                opacity: 0;
            }
        }
    }

/* End of hamburger menu */

}

/* Tablet Design */

@media only screen and (min-width: 600px) {

}

/* Desktop Design */

@media only screen and (min-width: 1000px) {

}
