/* Mobile Design */

@import '_footer.scss';
@import '_header.scss';
@import '_main.scss';

/* Main */

main {
    text-align: center;
    color: $font-color1;
    
    #page_header {
        font-size: 2.5rem;
    }

    #contact_form {
        border: solid $font-color1 1rem;
    }
}

/* Tablet Design */

@media only screen and (min-width: 600px) {

}

/* Desktop Design */

@media only screen and (min-width: 1000px) {

}
