/* Mobile Design */

@import '_footer.scss';
@import '_header.scss';
@import '_main.scss';

/* Main */

main {
    text-align: center;
    display: grid;

    #introductory_message {
        font-size: 2rem;
        text-align: center;
        color: $font-color1;
    }

    #content_frame {
        position: relative;
        text-align: center;
    }

    img {
        filter: brightness(50%);
        width: 342px;
    }

    .promo-container>a {
        display: grid;
        justify-items: start;
        margin-left: 5px;

        #first_promo {
        color: white;
        font-size: 3.7rem;
        line-height: 5rem;
        left: 0.55rem;
        z-index: 25;
        position: absolute;
        top: 840px;
        width: 342px;
    }

    #second_promo {
        color: white;
        font-size: 3.7rem;
        line-height: 5.5rem;
        left: 0.55rem;
        position: absolute;
        top: 1365px;
        width: 342px;
    }
    }
}

@media only screen and (min-width: 1000px) {

    #phonenumber-footer {
    pointer-events: none;
    text-decoration: none;
    }
}
